.banner{
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-right: 14%;
    padding-left:1.8em;
    background: #8d662d;
    left:0;
    right: 0;
    bottom: 0;
    color: #fff;
    position: fixed;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    grid-column-gap: 2%;
    text-size-adjust: 100%;
    z-index: 200;
    /* animation: shows 1.3s forwards; */
}
.banner p{
    color: #fff;
}
.banner-buttons{
    display: flex;
    justify-content: flex-start;
}
.btn-accepte{
    background-color:rgb(255, 255, 255);
    border-bottom-color:rgb(255, 255, 255);
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
    border-bottom-style:solid;
    border-bottom-width:2px;
    border-left-color:rgb(255, 255, 255);
    border-left-style:solid;
    border-left-width:2px;
    border-right-color:rgb(255, 255, 255);
    border-right-style:solid;
    border-right-width:2px;
    border-top-color:rgb(255, 255, 255);
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    border-top-style:solid;
    border-top-width:2px;
    box-sizing:border-box;
    color:rgb(0, 0, 64);
    cursor:pointer;
    display:block;
    flex-basis:0%;
    flex-grow:0.5;
    flex-shrink:0.5;
    font-family:Helvetica, Calibri, Arial, sans-serif;
    font-size:1em;
    font-weight:700;
    height:35px;
    line-height:21px;
    margin-left:6px;
    padding-bottom:1%;
    padding-left:1%;
    text-align:center;
    text-decoration-color:rgb(0, 0, 64);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    min-width: 150px;
}

.btn-refuse{
    background: none;
    text-align:center;
    color: #fff;
    text-decoration-color:#fff;
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    min-width: 140px;
    height:35px;
    border:none;
    flex-basis:0%;
    flex-grow:0.5;
    flex-shrink:0.5;
    font-family:Helvetica, Calibri, Arial, sans-serif;
    font-size:1.1em;
    font-weight:700;
}
.hide{
    animation: seconds 1.5s forwards;
}

.show{
    animation: shows 1.3s forwards;
}

/*-------------TERMS CONDITIONS----------------------*/
.terms-container{
  margin: 1% 25%;
  height: 70vh;
  padding: 50px 20px;
  background: none;
  width: 50%;
  text-align: justify;
  box-sizing: border-box;
}
.terms-container p{
  text-align: justify;
  padding: -2px 5px;
}
.terms-link{
  color: coral;
  font-weight: 800;
  font-family: initial;
  text-decoration: underline;
}
@-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    33.33% {
      opacity: 0.33;   
    }
    100% {
        opacity: 1;   
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    33.33% {
        opacity: 0.33;   
    }
    100% {
      opacity: 0;     
    }
}


@-webkit-keyframes shows {
    0% {
      opacity: 1;
    }
    33.33% {
      opacity: 0.33;   
    }
    100% {
        opacity: 1;   
    }
  }
  @keyframes shows {
    0% {
      opacity: 0;
    }
    33.33% {
        opacity: 0.33;
    }
    100% {
      opacity: 1;  
    }
}
@media only screen and (max-width: 850px) {
    .banner {
      grid-template-columns: 4fr;
    }
}

.tem-cndp{
    font-size: 12px;
    font-weight: 700;
}

#terms{
    width: 60px;
    display: flex
}

#pro-terms{
    margin-top:50px;
}
@media only screen and (max-width: 850px){
    #pro-terms{
        margin-top:60px;
    }
}



#hideMe {
  -moz-animation: alertAnimation 0s ease-in 4s forwards;
  /* Firefox */
  -webkit-animation: alertAnimation 0s ease-in 4s forwards;
  /* Safari and Chrome */
  -o-animation: alertAnimation 0s ease-in 4s forwards;
  /* Opera */
  animation: alertAnimation 0s ease-in 4s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes alertAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;  
  }
}
@-webkit-keyframes alertAnimation {
  0% {
    opacity: 1;
  }
  50% {
      opacity: 0.5;
  }
  100% {
    opacity: 0;  
  }
}

.my-alert{
  width: 80%;
  padding: 10px;
  text-align: center;
  background: rgba(138, 187, 136, 0.404);
  color: rgb(11, 66, 9);
  margin-left: 10%;
  border-radius: 5px;
  position: absolute;
  bottom: 80px;
}